/** Static CSS */
body {
    font-family: 'Titillium Web', sans-serif;
}

.pointer {
    cursor: pointer;
}

.btn {
    border-radius: 0px!important;
}

/** Static CSS */

/** Header */
.top-header {
    background: #2c3e50;
    padding: 10px 0;
}

.bg-dark {
    background-color: #34495e!important;
}

.top-header-link {
    color: #fff!important;
    text-decoration: none;
}

.top-header-link:hover {
    text-decoration: underline;
}

.logo-image {
    background: #fff;
    height: 55px;
}

.main-navbar .nav-item {
    padding: 0px;
}

.main-navbar .nav-link {
    padding: 15px 20px!important;
    text-transform: uppercase;
    transition: .4s;
    font-weight: bold;
    color: #fff!important;
}

.main-navbar .nav-link:hover {
    background: #2ECC71;
    color: #fff!important;
}

.search-button {
    margin-left: -10px;
    border-radius: 0px;
    background: #2ECC71;
    color: #fff;
    border-left: 0px;
    border-top: 1px solid #fff;
}

.search-form {
    border-radius: 0px;
    border-bottom: 0px;
}

/** Header */

/** Body */
img.d-block.w-100 {
    height: 450px;
}

.slider-link {
    border-radius: 25px;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 600;
    border: 2px solid #2ECC71;
    background-color: transparent;
    color: #2ECC71;
}

.top-body {
    text-align: center;
    background: linear-gradient(#2ECC71, #27AE60);
    padding: 100px 0;
}

.top-body h4 {
    font-size: 45px;
    font-weight: 700;
    color: #fff;
}

.single-top-link {
    border: 2px solid #2ECC71;
    border-radius: 5px;
    transition: .5s;
    display: inline-block;
    padding: 15px 40px;
    margin: 20px 0;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.single-top-link:hover {
    background: #2ECC71;
    color: #fff;
    cursor: pointer;
}

.single-top-link i {
    font-size: 30px;
    padding: 10px;
}

.single-top-link p {
    height: 30px;
}

.book-list-sidebar {
    padding: 50px 0px;
}

.single-book img {
    width: auto;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.single-book {
    border: 1px solid #ECF0F1;
    padding: 20px;
    text-align: center;
    transition: .3s;
    margin-top: 30px;
    border-radius: 10px;
}

.single-book:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.widget h5 {
    color: #2ECC71;
    font-weight: bold;
    font-size: 25px;
    background: #fff;
    padding: 15px;
    margin-bottom: 0!important;
    border-radius: 5px;
}

.advance-search {
    background: #F5F5F5;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.advance-search .form-group {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.default-user {
    font-size: 65px;
    color: #2ECC71;
}

/** Body */

/** Footer */
.footer-area {
    background: #2c3e50;
    color: #fff;
    padding: 30px 10px;
    text-align: center;
}

.footer-area a, .footer-area a:hover {
    color: #fff!important;
    text-decoration: none;
}

/** Footer */

/** Book Single **/
.page-area {
    padding: 50px 0px;
}

.book-show-area {
    padding: 50px 0px;
}

/** Book Single **/

/** Override Styles */
.select2-container .select2-selection--single {
    height: 35px;
}

/** Override Styles */
